body {
    background-image: url(images/Background.jpg);
    background-position: relative;
    background-size: cover;
}

h1, h2 {
    text-align: center;
    color: darkgray;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background-color: red;
    display: block;
    margin: auto;
}

#increment-btn:hover {
    background-color: darkred;
}

#save-btn {
    background-color: green;
    display: block;
    margin: auto;
}

#save-btn:hover {
    background-color: darkgreen;
}

#reset-btn {
    background-color: #BF40BF;
    display: block;
    margin: auto;
}

#reset-btn:hover {
    background-color: purple;
}

p {
    text-align: center;
    color: darkgray;
    font-size: 20px;
}

.tc {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
