.body {
    background-color:white;
    color:black;
}

.footer {
    font-size:12px;
}

hr.divider {
    outline:none;
    border-top:8px solid;
    border-radius:50px;
}

hr.footdiv {
    outline:none;
    border-top:4px solid;
    border-radius:25px;
}

.about {
    font-weight: bold;
}

button {
    border:none;
    outline:none;
    background-color:cyan;
    color:red;
}

button:hover {
    background-color:red;
    color:cyan;
}